.messageBox {
  padding: 12px 0;
  flex-direction: row;
  img {
    height: 45px;
    width: 45px;
    &.hidden {
      opacity: 0;
    }
  }

  p,
  h1,
  h2,
  h3,
  ol,
  ul,
  li {
    margin: 8px 0;
  }
}

.textAlignLeft {
  margin-right: auto;
}
.textAlignRight {
  margin-left: auto;
}

.kurisuAvatar {
  margin-right: 20px;
}
.rintaroAvatar {
  margin-left: 20px;
}
