@import './mixins.scss';

.messageBox {
  padding: 12px 0;
  flex-direction: row;
  img {
    height: 45px;
    width: 45px;
    &.hidden {
      opacity: 0;
    }
  }

  p,
  h1,
  h2,
  h3,
  ol,
  ul,
  li {
    margin: 8px 0;
  }
}

.message {
  padding: 8px 0;
  position: relative;
}
.textAlignLeft {
  margin-right: auto;
}
.textAlignRight {
  margin-left: auto;
}

.kurisuAvatar {
  margin-right: 20px;
}
.rintaroAvatar {
  margin-left: 20px;
}

.errorIconContainer {
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translate(-150%, -45%);

  .tooltip {
    @include border-color-inactive;
    font-size: 12px;
    padding: 0 4px;
    padding-bottom: 1px;
    position: absolute;
    transform: translate(calc(-100% - 10px), -1px);
    white-space: pre;
  }
}
.nonClickable {
  cursor: auto;
}
