@import './colors.scss';

@mixin border-color {
  border: 1px solid $bg-color;
  box-shadow: 0 0 3px 1px $fg-color;
}
@mixin border-color-inactive {
  border: 1px solid $bg-color;
  box-shadow: 0 0 3px 0 $fg-color;
}
