@import './mixins.scss';

.backdrop {
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.container {
  h1 {
    margin-bottom: 10px;
  }
  background-image: url('./assets/amadeus-vertical-bg.webp');
  padding: 15px;
  width: 450px;
}

.textfield {
  margin-bottom: 16px;
  label {
    margin-bottom: 8px;
  }
  input {
    background: transparent;
    border-radius: 4px;
    @include border-color-inactive;

    &:focus {
      @include border-color;
    }
  }
}

.saveButton {
  align-self: end;
}
