@import '../colors.scss';
@import '../mixins.scss';

.button {
  @include border-color;
  background-color: transparent;
  border-radius: 12px;
  cursor: pointer;
  padding: 4px 24px;
  &:active {
    box-shadow: 1px 1px 5px -1px $fg-color;
  }
}
