@import '../mixins.scss';

.container {
  @include border-color;
  background-color: black;
  cursor: default;
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 18px;
  padding: 8px 20px;

  transform: translateY(-5px);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 1000;
}
